.g-button{
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9DFA6F;
    font-style: normal;
font-weight: 600;
}

.b-button{
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    font-style: normal;
font-weight: 600;
}


.w-button{
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    font-style: normal;
    border: 2px solid #000;
font-weight: 600;
}

.t-button{
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    font-style: normal;
    border: 1px solid #CBCBCB;
font-weight: 600;
}